// Colors
$primary: #633cff;
$primary-hover: #beadff;
$primary-light: #efebff;
$dark-gray: #333333;
$gray: #737373;
$light-gray: #fafafa;
$white: #ffffff;
$red: #ff3939;

$dark-mode-primary: #b592ff;
$dark-mode-primary-hover: #9171f8;
$dark-mode-primary-light: #c6a7ff;
$dark-mode-dark-gray: #282828;
$dark-mode-gray: #3f3f3f;
$dark-mode-light-gray: #575757;
$dark-mode-white: #f5f5f5;
$dark-mode-red: #ff9d8c;
