$font-family: "Instrument Sans", sans-serif;
$font-size-lg: 32px;
$font-size-base: 16px;
$font-size-sm: 12px;
$line-height: 150%;

$heading-m: $font-size-lg;
$heading-s: $font-size-base;
$body-m: $font-size-base;
$body-s: $font-size-sm;
