@use "sass:meta";
@use "../variables/typography" as typography;

@mixin heading-m {
  font-family: var(--font-family, $font-family);
  font-size: var(--heading-m, $font-size-lg);
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height, $line-height);
}

@mixin heading-s {
  font-family: var(--font-family, $font-family);
  font-size: var(--heading-s, $font-size-base);
  font-style: normal;
  font-weight: 600;
  line-height: var(--line-height, $line-height);
}

@mixin body-m {
  font-family: var(--font-family, $font-family);
  font-size: var(--body-m, $font-size-base);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height, $line-height);
}

@mixin body-s {
  font-family: var(--font-family, $font-family);
  font-size: var(--body-s, $font-size-sm);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height, $line-height);
}

/**
  * Mirror SASS variables as CSS variables
 **/
@mixin typography-variables {
  @each $name, $value in meta.module-variables(typography) {
    --#{$name}: #{$value};
  }
}

@mixin typography-utility-classes {
  .heading-m {
    @include heading-m;
  }

  .heading-s {
    @include heading-s;
  }

  .body-m {
    @include body-m;
  }

  .body-s {
    @include body-s;
  }
}
